Screen {
    layers: below above;
    align: center middle;
}

#list {
    layer: below;
    layers: listbelow listabove;
}

#table {
    layer: listbelow;
    width: 100%;
    height: 100%;
}

#search {
    layer:listbelow;
    dock: bottom;
    width: 100%;
    height: 3;
}

#fsb {
    layer:listabove;
    dock:right;
    height: auto;
    width: 23;
    border: round  $primary-darken-1;
    border-title-style: bold;
}


#vs {
    layer: above;
    align: center middle;
    width: 100%;
    height: 100%;
}

#expand {
    width: 100%;
    height: auto;
}

